html
    head 
        meta(http-equiv="Refresh" CONTENT="10")
    body
    h1 hello #{username}
    ul
        each val in messages
            li= val
    form(id="chat", action="/chat", method="POST")
        input(type="text", name="message", placeholder="tu imię")
        button(type="submit") wyślij