block content 
    form(id="dane_post", action="/dane", method="post")
        input(type="text", name="imie", value="", placeholder="tu imię")
        br
        input(type="text", name="imie", value="", placeholder="tu nazwisko")
        button(type="submit") POST 2 dane 
    form(id="dane_get", action="/dane", method="get")
        input(type="text", name="imie", value="", placeholder="tu imię")
        br
        input(type="text", name="imie", value="", placeholder="tu nazwisko")
        button(type="submit") POST 2 dane 