extends layout
block content
    div.text-center
        div(class="form-signin")
            div.text-center
                p wellCome Dear #{username}!
    form(class="form-signin" method="GET" action="/logout")
        - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
        #loggedIn
            if loggedIn === true
                button(class=buttonClass type="submit") Sign out